<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CareCru Interview</title>
        <link rel="stylesheet" href="/styles/app.css"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <main class="container">
        <h1>CareCru Journal</h1>
        <div id="react-root"></div>
      </main>
      <script src="<%= bundleSrc %>"></script>
    </body>
</html>
